nav.navbar {
    padding: 0;
    transition: border-bottom-color $router-transition/2;
    border-bottom: 2px solid transparent;
    &:after {
        content: '';
        display: block;
        position: absolute;
        box-shadow: $box-shadow-bottom;
        top: 0;
        width: 100vw;
        left: calc((100% - 100vw)/2);
        bottom: 0;
        background: $white;
        z-index: -1;
        opacity: .95;
        transition: opacity $router-transition/2;
    }
    .navbar-toggler {
        outline: none;
        border: none;
        $height: 26px;
        $width: 30px;
        $thickness: 2px;
        position: absolute;
        right: 0;
        display: inline-block;
        width: $width;
        height: $height;
        cursor: pointer;
        top: 28px;
        margin-top: -10px;
        padding: 0;
        .navbar-toggler-icon {
            transition-duration: 0s;
            transition-delay: .2s;
            transition-property: background-color;
            margin: 0;
            position: relative;
            top: 0;
            left: 0;
            width: $width;
            height: $thickness;
            background-color: $black;
            display: block;
            &:before,
            &:after {
                display: block;
                position: absolute;
                content: '';
                width: $width;
                height: $thickness;
                background-color: $black;
                transition-property: margin, transform;
                transition-duration: .2s;
                transition-delay: .2s, 0;
            }
            &:before {
                margin-top: ($height/2 - $thickness);
            }
            &:after {
                margin-top: -($height/2 - $thickness);
            }
        }
        &[aria-expanded="true"] {
            .navbar-toggler-icon {
                background-color: rgba(255, 255, 255, 0);
                &:before {
                    margin-top: 0;
                    transform: rotate(45deg);
                    transition-delay: 0, .2s;
                }
                &:after {
                    margin-top: 0;
                    transform: rotate(-45deg);
                    transition-delay: 0, .2s;
                }
            }
        }
    }
    .navbar-brand {
        font-size: 2rem;
        color: $black;
        margin-right: auto;
    }
    .navbar-nav {
        align-items: flex-end;
        .nav-item+.nav-item {
            margin-left: 1rem;
        }
        .nav-link {
            padding: 4px 0 0;
            position: relative;
            color: $black;
            text-transform: uppercase;
            &:after {
                display: block;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -14px;
                border-bottom: 2px solid $brand-primary;
                opacity: 0;
                transition: opacity $fast-transition;
            }
            &.active {
                color: $brand-primary;
                &:after {
                    opacity: 1;
                }
            }
        }
        &:hover {
            .nav-link {
                color: $black;
                &:after {
                    opacity: 0;
                }
                &:hover {
                    color: $brand-primary;
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .navbar-brand {
            line-height: 3.25rem;
        }
        .navbar-nav {
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;
            padding-bottom: .5rem;
            .nav-item,
            .nav-item+.nav-item {
                margin: 0 0 .25rem;
            }
            .nav-link {
                padding: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}