#app .about{
    .profile-img{
        width: 100%;
    }
    .blurb a{
        text-decoration: underline;
    }
    @include media-breakpoint-down(sm){
        .title{
            margin-top: 1rem;
        }
    }
}