#app .contact.body {
    .page-header {
        margin-bottom: .5rem;
    }
    form {
        text-align: center;
        .form-group {
            text-align: left;
            label {
                font-size: .75rem;
                text-transform: uppercase;
                &.error-msg {
                    color: $error-clr;
                    +label {
                        display: none;
                    }
                    ~input,
                    ~textarea {
                        border-color: $error-clr;
                    }
                }
            }
            input,
            textarea {
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);;
                
                &::-webkit-input-placeholder {
                    font-family: 'Roboto';
                    font-weight: 300;
                    color: $grey;
                }
                &:focus {
                    border-color: $brand-primary;
                    box-shadow: $box-shadow-medium;
                }
            }
            textarea {
                resize: vertical;
                height: 8rem;
            }
        }
        .btn.btn-primary {
            text-transform: uppercase;
            margin-top: 1rem;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);;
            span {
                position: relative;
                &:after {
                    display: block;
                    visibility: hidden;
                    content: '';
                    position: absolute;
                    border-bottom: 2px solid $white;
                    bottom: -1px;
                    left: 50%;
                    right: 50%;
                    transition: all $fast-transition;
                }
            }
        }
    }
}