#app.home {
    nav.navbar {
        border-bottom: 2px solid $black;
        &:after {
            display: none;
        }
        .nav-link:after{
            bottom: -16px;
        }
    }
    .blurb {
        font-size: 1.5rem
    }
    @include media-breakpoint-down(sm) {
        .content {
            text-align: center;
            @include padding-lr(1rem);
        }
    }
}