#app.projects {
    .case {
        border: 1px solid transparent;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        +.case {
            margin-top: 2rem;
        }
        >.row {
            margin: 0;
            padding: .5rem;
            >div {
                padding: 1rem;
                .inner {
                    position: relative;
                    img.screen {
                        width: 100%;
                        box-shadow: $box-shadow;
                    }
                }
                img.logo {
                    height: 3rem;
                    margin-bottom: 1rem;
                }
                .blurb{
                    margin-bottom: 0;
                }
            }
        }
    }
}