#app.projects {
    .case {
        border: 1px solid transparent;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        background: $white;
        +.case {
            margin-top: 2rem;
        }
        >.row {
            margin: 0;
            padding: .5rem;
            >div {
                padding: 1rem;
                .inner {
                    position: relative;
                    img.screen {
                        width: 100%;
                        box-shadow: $box-shadow;
                    }
                }
                img.logo {
                    height: 3rem;
                    margin-bottom: 1rem;
                }
                .blurb {
                    margin-bottom: 0;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .case {
            text-align: center;
        }
    }
    @include media-breakpoint-only(xs) {
        .body-container>.body {
            @include padding-lr(0);
        }
    }
}